* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 1950px;
  margin: 0 auto;
  background-color: #8EC5FC;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
}

.main-heading {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 1.1;
  text-transform: uppercase;
  color: #03037C;
}

.accent-text {
  display: block;
  margin-bottom: .25em;
  text-align: center;
  overflow: hidden;
  color: #fff;
}

.support-text {
  margin-bottom: .25em;
  font-size: 1.5rem;
  font-weight: 600;
  color: #020024;
}

.intro-footer {
  font-size: .9rem;
  letter-spacing: 0.02em;
  color: #fff;
}

.intro-footer a {
  font-weight: 500;
  text-decoration: none;
  color: #03037C;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.color-generator {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3em;
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: 4em;
}

.select-color-mode[type='color'] {
  padding: 3em;
}

.input-color,
.select-color-mode,
.submit-button {
  height: 3em;
  border-radius: .375em;
  cursor: pointer;
}

.input-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9em;
  height: 3.6em;
}

.select-color-mode,
.submit-button {
  width: 15em;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border: 0.06em solid #020024;
  color: #000;
  background-color: #fff;
}

.select-color-mode {
  padding: .5em .8em;
}

.select-color-mode:focus {
  outline: 0;
}

.submit-button {
  height: 4.5em;
  text-transform: uppercase;
}

.colors-and-hex-values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  cursor: pointer;
}

.colors-and-hex-values > * {
  width: 20vw;
}

.color {
  height: 20em;
}

.color-names {
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: .25em;
  padding: 0 0.15em;
  text-align: center;
  font-size: .875rem;
  font-weight: 500;
  cursor: default;
}

.hex-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
  font-weight: 500;
  text-transform: lowercase;
  color: #020024;
}

.sidenotes {
  display: flex;
  flex-direction: column;
  gap: .25em;
  padding: 3em 0;
  font-size: .875rem;
  font-weight: 500;
  text-align: center;
  border-top: 1px solid lightgray;
  color: #020024;
  background-color: #8EC5FC;
}

.notification-text {
  position: absolute;
  left: 50%;
  bottom: 42%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  padding: 1em 1.5em;
  font-size: 1.2rem;
  font-weight: 800;
  border: 1px solid #000;
  border-radius: 0.5em;
  color: #000;
  background-color: #d5d4d8;
}

.notification-text.copied {
  animation: copied 1s ease-in-out;
  visibility: visible;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
}

@keyframes copied {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.error-message {
  width: 85%;
  padding: 2em 0;
  text-align: center;
  line-height: 1.8;
}

.error-message span {
  display: block;
}

.error-message-email {
  padding-top: 1em;
  color: blue;
}


/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 4rem;
  }

  .support-text {
    font-size: 2rem;
  }

  .intro-footer {
    font-size: 1rem;
  }

  .color-generator {
    gap: 4em;
  }

  .form {
    flex-direction: row;
  }

  .input-color {
    height: 3.6em;
  }

  .select-color {
    text-align: left;
  }

  .submit-button {
    height: 3em;
  }

  .color {
    height: 30em;
  }

  .color-names {
    display: flex;
  }

  /* .hex-value, */
  .sidenotes {
    font-size: 1rem;
  }

  .sidenotes {
    padding: 4em;
  }

  .notification-text {
    left: 50%;
    bottom: 55%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1024px) {
  .main-heading {
    font-size: 5rem;
  }

  .support-text {
    font-size: 2.5rem;
  }

  /* .hex-value {
    font-size: 1rem;
  } */
}

@media screen and (min-width: 1440px) {
  .section-container {
    flex-direction: row;
    height: 100vh;
  }

  .section-container > * {
    flex-basis: 100%;
  }

  .intro {
    padding: 2em;
  }
  
  .content {
    justify-content: flex-start;
    padding-right: 5.5em;
  }

  .color-generator {
    width: 700px;
    max-width: 750px;
    gap: 2.5em;
    border-radius: .375em;
  }

  .form {
    gap: 2em;
    padding: 2.5em 0 0;
  }

  .input-color {
    width: 6em;
  }

  .submit-button {
    width: 12em;
  }

  .submit-button:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #020024;
  }

  .colors-and-hex-values {
    width: 100%;
  }

  .colors-and-hex-values > * {
    width: 20%;
  }

  .color {
    height: 25em;
  }

  .hex-value {
    /* font-size: 1rem; */
    padding-bottom: 2em;
  }

  .sidenotes {
    display: none;
  }

  .notification-text {
    left: 50%;
    bottom: 45%;
    transform: translateX(-50%);
  }

  .error-message {
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .main-heading {
    font-size: 6rem;
  }

  .support-text {
    font-size: 3rem;
  }

  .intro-footer {
    font-size: 1.15rem;
  }
  
  .content {
    padding-right: 0;
  }

  .color-generator {
    width: 750px;
    gap: 3em;
  }

  .form {
    gap: 3em;
    padding: 3em 0 0;
  }

  .color {
    height: 30em;
  }

  .color-names {
    font-size: 1rem;
  }

  .hex-value {
    font-size: 1rem;
    padding-bottom: 3em;
  }
}